{% if 'Minority' in co.Flags %}
    <span class="icon-stack">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-group icon-light" title="Minority-Owned"></i>
    </span>
{% endif %}
{% if 'WomanOwned' in co.Flags %}
    <span class="icon-stack">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-female icon-light" title="Woman-Owned"></i>
    </span>
{% endif %}
{% if 'VeteranOwned' in co.Flags %}
    <span class="icon-stack">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-fighter-jet icon-light" title="Veteran-Owned"></i>
    </span>
{% endif %}
{% if 'GreenBusiness' in co.Flags %}
    <span class="icon-stack">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-globe icon-light" title="Green Business"></i>
    </span>
{% endif %}