
<style type="text/css">
.num{
	width:120px;
	text-align: right;
}</style>
<script type="text/javascript">
$(function(){
    var vm = {{co_json|safe}};
   	var sales = vm.AnnualSalesUSD === null ? 0 : vm.AnnualSalesUSD;
   	var costs = sales * 0.91;
/*
    $.ajax({ url: REST_BASE + '?with=details' })
        .done(function(cos){
            cos = { cos : cos };
            console.log(cos);
            var vm = ko.mapping.fromJS(cos);
            ko.applyBindings(vm);



        })
*/
    function LineItem(name, val)
    {
    	this.name = ko.observable(name);
    	this.amount = ko.observable(val||0);
    }
    function ARViewModel()
    {
        var self = this;
        self.active = ko.observable(false);
        self.setDefaults = function() {
	        self.expenses = ko.observableArray([
	        	new LineItem('Salary', Math.round(costs*.18)),
	        	new LineItem('Supplies', Math.round(costs*.22)),
	        	new LineItem('Benefits', Math.round(costs*.2)),
	        	new LineItem('CapEx', Math.round(costs*.1)),
	        	new LineItem('Utilities', Math.round(costs*.1)),
	        	new LineItem('Insurance', Math.round(costs*.1)),
	        	new LineItem('Rent/Maint.', Math.round(costs*.05)),
	        	new LineItem('Misc', Math.round(costs*.05))
	        ]);

	        self.incomes = ko.observableArray([
	        	new LineItem('Medicare', Math.round(sales*.43)),
	        	new LineItem('Managed Care', Math.round(sales*.33)),
	        	new LineItem('Commercial', Math.round(sales*.12)),
	        	new LineItem('Medicaid', Math.round(sales*.09)),
	        	new LineItem('Self-pay', Math.round(sales*.02))
	        	])

	        self.stats = ko.observableArray([
	        	new LineItem('Number of Beds'),
	        	new LineItem('Number of ERs'),
	        	new LineItem('Number of ERs'),
	        	])
	    };

        self.putItem = function(ty, name, amt) {
        	var arr = self[ty]();
        	for (var i=0; i<arr.length; i++) {
        		if (arr[i].name() == name)
        			return arr[i].amount(amt);
        	}
        	self[ty].push(new LineItem(name, amt));
        };

        self.incomes = ko.observableArray();
        self.expenses = ko.observableArray();
        self.stats = ko.observableArray();
        self.setDefaults();

        $.ajax({ url: REST_BASE + '{{duns}}'})
        	.done(function(data){
        		if (!data)
        			return;
        		self.active(data.active);
        		$(data.expenses).each(function(){
        			self.putItem('expenses', this.name, this.amount);
        		});
        		$(data.incomes).each(function(){
        			self.putItem('incomes', this.name, this.amount);
        		});
        	})
//        $.getJSON("/tasks", function(allData) {
//                var mappedTasks = $.map(allData, function(item) { return new Task(item) });
//                self.tasks(mappedTasks);
//            });  


        self.addExpense = function() { self.expenses.push(new LineItem()); };
        self.removeExpense = function() { self.expenses.remove(this); };

        self.addIncome = function() { self.incomes.push(new LineItem()); };
        self.removeIncome = function() { self.incomes.remove(this); };

        self.addStat = function() { self.stats.push(new LineItem()); };
        self.removeStat = function() { self.stats.remove(this); };

        self.duns = ko.observable('123');
		 self.save = function() {
		        $.ajax({ url: REST_BASE + '{{duns}}',
		            data: ko.toJSON(self),
		            type: "POST",
		            contentType: "application/json",
		            success: function(result) {
		            	$('#xrow').slideUp();
		            }
		        });
		    }; 

    }


    $(function(){
	    var vm = new ARViewModel();
	    window.vm = vm;
	    ko.applyBindings(vm);
    });

});
</script>





<div class="navbar navbar-static-top" style="margin-bottom:0">
	<ul class="nav navbar-nav">
		<li><a href="Javascript:void(0)" onclick="$('#xrow').slideToggle();$(this).find('.txt').text($(this).find('.txt').text()=='Hide'?'Show':'Hide')" class="btxn btn-inxfo"><span class="txt">Show</span> Profile <span class="caret"></span></a>
		</li>
		<li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      Send to CRM <span class="caret"></span>
		    </a>
	    <ul class="dropdown-menu">
	    	<li><a class="btn-share" rel="popover" data-original-title="Please Upgrade - You are using the open-source version of Phalanx Linq. This feature is only available in the commercial edition.">Microsoft Dynamics</a></li>
	    	<li><a class="btn-share" rel="popover" data-original-title="Please Upgrade - You are using the open-source version of Phalanx Linq. This feature is only available in the commercial edition.">Salesforce</a></li>
	    	<li><a class="btn-share" rel="popover" data-original-title="Please Upgrade - You are using the open-source version of Phalanx Linq. This feature is only available in the commercial edition.">Siebel</a></li>
	    </ul>
  </li>
		<li>
<!-- ko if: active -->
	<i class="icon-star" style="color:#66f"></i>
<!-- /ko -->
		</li>
	</ul>
</div>

<script>
$(function () { $("a.btn-share").tooltip(); });
</script>

<div class="row" id="xrow" style="display:none;z-index:3">
	<div class="col-lg-3">
		<div class="panel">
		  <div class="panel-heading">
		  	Expense Profile
		  	<button class="btn btn-small pull-right" data-bind="click: addExpense"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
		  </div>
		  <table>
			<tbody data-bind="foreach: expenses">
				<tr>
					<td>
						<input class="form-control" type="text" data-bind="value: name" />
					</td>
					<td>
						<input class="form-control num" type="number" data-bind="value: amount" />
					</td>
					<td>
						<span class="glyphicon glyphicon-remove-circle" data-bind="click: $parent.removeExpense"></span>
					</td>
				</tr>
			</tbody>
			</table>
		  </div>
		</div>

	<div class="col-lg-3">
		<div class="panel">
	  <div class="panel-heading">
	  	Income Profile
		<button class="btn btn-small pull-right" data-bind="click: addIncome"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
	  </div>
		<table>
			<tbody data-bind="foreach: incomes">
				<tr>
					<td>
						<input class="form-control" type="text" data-bind="value: name" />
					</td>
					<td>
						<input class="form-control num" type="number" data-bind="value: amount" />
					</td>
					<td>
						<span class="glyphicon glyphicon-remove-circle" data-bind="click: $parent.removeIncome"></span>
					</td>
				</tr>
			</tbody>
		</table>

		</div>
	</div>

	<div class="col-lg-3">
		<div class="panel">
	  <div class="panel-heading">
	  	Statistics
	  	<button class="btn btn-small pull-right" data-bind="click: addStat"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
	  </div>
		<table>
			<tbody data-bind="foreach: stats">
				<tr>
					<td>
						<input class="form-control" type="text" data-bind="value: name" />
					</td>
					<td>
						<input class="form-control num" type="number" data-bind="value: amount" />
					</td>
					<td>
						<span class="glyphicon glyphicon-remove-circle" data-bind="click: $parent.removeStat"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	</div>

	<div class="col-lg-3">
			<button data-bind="click: save" class="btn btn-primary">Save</button>

	</div>
</div>
