


<div class="row">
	<div class="col-sm-8">
	</div>
	<div class="col-sm-4">


		Share:

		<a style="top:4px" href="https://twitter.com/share" class="twitter-share-button" data-text="checkout this company profile" data-via="us_x11" data-hashtags="phalanxlinq">Tweet</a>

		<div style="width:80px;top:-4px" class="fb-send" data-href="{{canonical_url}}"></div>

		<script type="IN/Share" data-counter="right"></script>
	</div>
</div>

	<div id="fb-root"></div>

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=397458810270026";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script src="//platform.linkedin.com/in.js" type="text/javascript">
	 lang: en_US
	</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>
$(function () { $("a.btn-share").popover(); });
</script>