{% extends "web/includes/base.html" %}

{% load humanize %}
{% block title %}Company Detail{% endblock %}

{% block content %}



<div class="navbar">
  <a class="navbar-brand" href="#">{{co.Name}}</a>
  <p class="navbar-text">
    {% include 'web/includes/co_indicators.html' with co=co %}

  	{{ co.CEO.Title }} : {{ co.CEO.Name }}<br />
  	Employees: {{ co.EmployeesHere }} of {{ co.EmployeesTotal }}<br />
  	Sales: ${{ co.AnnualSalesUSD|intcomma }}<br />
  	Founded: {% if co.StartYear %}{{ co.StartYear }}{%else%}{{co.ControlYear }}{% endif %}
  </p>
</div>

{% include 'web/includes/co_personalized_profile.html' with duns=co.DUNS %}

<div id="map" style="height:300px"></div>

<script type="text/javascript">
var rows = {{rows_json|safe}};
</script>
{% include 'web/includes/map_widget.html' with companies='rows' %}




Out of business: {{co.Addl.OutOfBusinessInd}}
Single location: {{co.Addl.SingleLocation}} 
Small business: {{co.Addl.SmallBusinessIndicator}}

Industry: {{co.Industry.LineOfBusiness }}

BankruptcyDate : {{co.Addl.BankruptcyDate}} {{co.Addl.Bankruptcyindicator}}

<div class="row">
	<div class="col-lg-4">
		{% include 'web/includes/co_info_box.html' with co=co DBAs=co.DBAs %}
	</div>
	{% if co.Linkage.Parent %}
	<div class="col-lg-4">
		parent:
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.Parent %}
	</div>
	{% endif %}
	{% if co.Linkage.HQ %}
	<div class="col-lg-4">
		HQ
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.HQ %}
	</div>
	{% endif %}

	{% if co.Linkage.DomesticUltimate.DUNS and co.Linkage.DomesticUltimate.DUNS != co.Linkage.Parent.DUNS and co.Linkage.DomesticUltimate.DUNS != co.DUNS %}
	<div class="col-lg-4">
		Domestic
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.DomesticUltimate %}
	</div>
	{% endif %}

	{% if co.Linkage.GlobalUltimate.DUNS != co.Linkage.DomesticUltimate.DUNS %}
	<div class="col-lg-4">
		Global Ultimate
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.GlobalUltimate %}
	</div>
	{% endif %}
</div>

<!--
<h5>Debug Info</h5>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
-->



<span class="glyphicon glyphicon-ok"></span>
<hr/>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>



{% endblock %}