{% extends "web/includes/base.html" %}

{% load humanize %}
{% block title %}Company Detail{% endblock %}

{% block content %}

{% include 'web/includes/share.html' %}
<br/>

<h3>
	{{co.Name}}
    {% include 'web/includes/co_indicators.html' with co=co %}
</h3>

<div class="well">
	<div class="col-lg-6">
	    {% if co.DBAs %}
	        <strong>DBA:</strong> {{ co.DBAs|join:", "}}<br />
	    {% endif %}
	  	<strong>{{ co.CEO.Title }}:</strong> {{ co.CEO.Name }}<br />
	  	<strong>Address:</strong>
	  	<div style="margin-left:30px">
		    {{co.Location.Street1}}<br />
		    {{co.Location.City}}, {{co.Location.State}} {{co.Location.PostalCode}}<br />
		    {{co.Location.Country}}
		</div>

	  	<strong>Employees:</strong>
		{% if co.EmployeesHere %}
		    {{ co.EmployeesHere }} employees
		{% endif %}
		{% if co.EmployeesTotal %}
		    {% if co.EmployeesTotal != co.EmployeesHere %}
		        ({{ co.EmployeesTotal }} total)
		    {% endif %}
		{% endif %}
		<br />
	  	{% if co.AnnualSalesUSD %}
	  	<strong>Sales:</strong> ${{ co.AnnualSalesUSD|intcomma }}<br />
	  	{% endif %}
	  	<strong>Founded:</strong> {% if co.StartYear %}{{ co.StartYear }}{%else%}{{co.ControlYear }}{% endif %}<br />
	  	{% if co.FederalTaxID %}
	  	<strong>Federal Tax ID:</strong> {{co.FederalTaxID}}
	  	{% endif %}
	  	{% if co.NationalTaxID %}
	  	<strong>National Tax ID:</strong> {{co.NationalTaxID}}
	  	{% endif %}
	</div>
	<div class="col-lg-6">
	    {% if co.Location.Phone %}
	    <a class="pull-right" href="tel:{{co.Location.Phone}}"><span class="glyphicon glyphicon-phone"></span> {{co.Location.Phone}}</a>
	    {% endif %}
		<strong>Line-of-Business:</strong> {{co.Industry.LineOfBusiness}}<br />
		<strong>SIC:</strong>
		<div style="margin-left:30px">
			{% for ind in co.Industry.SICs %}
			{{ind.Code}} : {{ind.Description}}<br />
			{% endfor %}
		</div>
	</div>
  <div class="clearfix"></div>
</div>

<h4>D&amp;B Indicators</h4>
<div class="row">
	<div class="col-lg-12">
		{% for flag in co_flags %}
		<a class="btn btn-small btn-info" href="{% url search %}?opts={{flag.value}}">{{flag.name}}</a>
		{% endfor %}
	</div>
</div>

<br />
{% include 'web/includes/co_personalized_profile.html' with duns=co.DUNS %}

<script type="text/javascript">
var rows = {{rows_json|safe}};
</script>
{% include 'web/includes/map_widget.html' with companies='rows' %}

<h4>Family Hierarchy</h4>

<div class="row">
	<div class="col-lg-4">
		<h5>Company</h5>
		{% include 'web/includes/co_info_box.html' with co=co DBAs=co.DBAs %}
	</div>
	{% if co.Linkage.Parent %}
	<div class="col-lg-4">
		<h5>Parent</h5>
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.Parent %}
	</div>
	{% endif %}

	{% if co.Linkage.HQ %}
	<div class="col-lg-4">
		<h5>Headquarters</h5>
		{% if co.Linkage.HQ.DUNS == co.DUNS %}
		(same as this location)
		{% else %}
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.HQ %}
		{% endif %}
	</div>
	{% endif %}

	{% if co.Linkage.DomesticUltimate %}
	<div class="col-lg-4">
		<h5>Domestic Ultimate Parent</h5>
		{% if co.Linkage.HQ.DUNS == co.DUNS %}
		(same as this location)
		{% else %}
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.DomesticUltimate %}
		{% endif %}
	</div>
	{% endif %}

	{% if co.Linkage.GlobalUltimate %}
	<div class="col-lg-4">
		<h5>Global Ultimate Parent</h5>
		{% if co.Linkage.HQ.DUNS == co.DUNS %}
		(same as this location)
		{% else %}
		{% include 'web/includes/co_info_box.html' with co=co.Linkage.GlobalUltimate %}
		{% endif %}
	</div>
	{% endif %}
</div>

<h4>Additional D&amp;B Insights</h4>

<table class="table table-condensed table-bordered">
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		{% for key, val in co.Addl.items %}
		{% if val %}
		<tr>
			<td>{{key}}</td>
			<td>{{val}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>

Some data &copy;2013 Dun &amp; Bradstreet
{% endblock %}