{% extends "web/includes/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<script type="text/javascript">
    $.ajax({ url: REST_BASE + '?with=details' })
        .done(function(cos){
            cos = { cos : cos };
            console.log(cos);
            initMap(cos.cos);
            var vm = ko.mapping.fromJS(cos);
            ko.applyBindings(vm);
        })
    function ARViewModel()
    {
        var self = this;

        self.accounts = ko.observableArray([
            ])

        self.addAccount = function() {
            self.accounts.push({});
        };
     
        self.removeAccount = function() {
            self.accounts.remove(this);
        };
    }


    $(function(){
//	    var vm = new ARViewModel();
    });
</script>

<h3>Dashboard</h3>

<div class="row">
    <div class="col-lg-6">
{% include 'web/includes/map_widget.html' %}
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DUNS</th>
            <th>Company</th>
            <th>Location</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cos">
    <tr>
        <td><a data-bind="text: DUNS, attr : { href : 'company/' + DUNS() }"></a></td>
        <td>
            <!-- ko text: Name --><!-- /ko --><br />
            <!-- ko text: Location.City --><!-- /ko -->,
            <!-- ko text: Location.State --><!-- /ko -->
        </td>
    </tr>
    </tbody>
</table>

    <!-- ko if: 'poop' in $data -->
    <div data-bind="text: DUNS"></div>
    <!-- /ko -->
</div>

{% endblock %}