{% extends "web/includes/base.html" %}

{% load humanize %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="well">
<form class="navbar-search" action="{% url search %}">
    <div class="row">
        <div class="col-lg-11">
            <input class="form-control" type="text" name="q" class="search-query" placeholder="Search" value="{{q}}" autocomplete="off">
        </div>
        <div class="col-lg-1">
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    </div>
    <div class="row">


        <div class="col-lg-3">
        Only show companies that are:
        <select multiple name="opts" id="opts" style="width:100%">
        {% for flag in available_flags %}
            <option value="{{flag.value}}" {% if flag.value in opts %}selected{%endif%}>{{flag.name}}</option>
        {% endfor %}
        </select>
        <script type="text/javascript">
        $('#opts').select2({containerCssxClass:'form-control'});</script>
    </div>


        <br />
        Expanded search: 
        <label>
        <input type="checkbox" name="opts" value="full" {% if 'full' in opts %}checked{%endif%}> Include Companies outside my <a href="{%url settings%}">Preferences</a></label>

    </div>
</form>
</div>

<script type="text/javascript">
var rows = {{rows_json|safe}};
</script>
{% include 'web/includes/map_widget.html' with companies='rows' %}

<h3>Search Results</h3>
Results: {{totalRows|intcomma}}, Displaying: {{rows|length}}

{% if pages_prev.0.url or pages_next.0.url %}
<ul class="pagination">
      <li {% if not pages_prev.0.url %}class="disabled"{%endif%}><a href="{{pages_prev.0.url}}">&laquo;</a></li>


        {% for page in pages %}
          <li {% if page_num == page.num %}class="active"{%endif%}><a href="{{page.url}}">{{page.num}}</a></li>
        {% endfor %}

      <li {% if not pages_next.0.url %}class="disabled"{%endif%}><a href="{{pages_next.0.url}}">&raquo;</a></li>
</ul>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>DUNS</th>
            <th>Company</th>
            <th>Location</th>
            <th>Employees</th>
            <th>Revenue</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>
                {{row.DUNS}}
            </td>
            <td>
                {% if row.active %}
                    <i class="icon-star icon-large hit-bounce" style="color:#66f"></i>
                {% else %}
                {% endif %}
                <a href="{% url company row.DUNS %}">{{row.Name}}</a><br />
                {% include 'web/includes/co_indicators.html' with co=row %}
            </td>
            <td>
                {{row.Location.Street1}}<br/>
                {{row.Location.City}}, {{row.Location.State}} {{row.Location.PostalCode}}<br />
                {{row.Location.Country}}
            </td>
            <td>
                {% if row.EmployeesHere %}
                    {{ row.EmployeesHere }} employees
                {% endif %}
                {% if row.EmployeesTotal %}
                    {% if row.EmployeesTotal != row.EmployeesHere %}
                        ({{ row.EmployeesTotal }} total)
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if row.AnnualSalesUSD %}
                    ${{ row.AnnualSalesUSD|intcomma }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--
<select data-bind="foreach: sics" multiple>
    <option data-bind="text: name"></option>
</select>
-->

{% endblock %}