{% extends "web/includes/base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

<h3>SIC Filter</h3>

<form method="POST">{% csrf_token %}
    <input type="submit" class="btn btn-primary" />
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>SIC</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
{% for sic in sics %}
        <tr data-sic>
            <td>
                <input type="checkbox" name="sic" value="{{sic.code}}" {% if sic.code in settings.SICs %}checked{%endif%} />
            </td>
            <td>
                {{sic.code}}
            </td>
            <td>
                {% if sic.level == 1 %}
                {% endif %}

                {% if sic.level == 2 %}
                     &nbsp; &nbsp;
                {% endif %}
                
                {% if sic.level == 3 %}
                     &nbsp;  &nbsp; &nbsp;  &nbsp;
                {% endif %}
                
                {% if sic.level == 4 %}
                     &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
                {% endif %}

                {{sic.name}}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</form>

<!--
<select data-bind="foreach: sics" multiple>
    <option data-bind="text: name"></option>
</select>
-->

{% endblock %}